name: Using Cache

on:
  workflow_dispatch:
    inputs:
      use-cache:
        description: "Whether to execute cache step"        
        type: boolean    
        default: true

      node-version:
        description: "Node version"
        required: false
        type: choice
        options:
          - 18.x
          - 20.x 
        default: 20.x         
        
        
       

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ github.event.inputs.node-version }}

      - name: Download cached dependencies
        id: cache
        uses: actions/cache@v3
        with:
          path: react-app/node_modules
          key: deps-node-modules-${{ hashFiles('react-app/package-lock.json') }} 

      - name: Install dependencies
        working-directory: react-app
        if: ${{ steps.cache.outputs.cache-hit != 'true' || github.event.inputs.use-cache == 'false' }}
        run: |
            npm ci

      - name: Testing
        working-directory: react-app
        run: npm run test

      - name: Building
        working-directory: react-app
        run: npm run build

      - name: Deploying to nonprod
        run: echo "Deploying to nonprod"
